@import "../components/dropdowns.css";
@import "../components/skeleton.css";

.bookmarks {
  @apply h-full w-full;
  @apply mt-6 pb-40 md:pb-28 tall:pb-44;
  @apply relative;
  @apply overflow-auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: theme("colors.primary-1");
  }
  &__wrapper {
    @apply h-full w-full lg:w-11/12;
  }

  &__loading__modal {
    @apply flex flex-col items-center justify-center;
    @apply absolute top-0 left-0 z-30;
    @apply h-full w-full;
    @apply bg-neutral-1 bg-opacity-30;

    & > div {
      @apply opacity-100;
    }
  }
}
.bookmark__card {
  @apply border border-neutral-6;
  @apply py-4 px-4 md:py-8 md:px-6;
  @apply flex items-start justify-end;
  @apply h-auto w-full;

  &__text__wrapper {
    @apply relative;

    @apply flex;
    @apply w-[85%] md:w-[90%];
    @apply ml-2 sm:mr-auto md:ml-0;
  }

  &__details {
    @apply flex flex-col items-start;
    @apply w-full;
    @apply overflow-hidden;
    @apply md:pl-2 xl:pl-0;
  }
  &__author {
    &__img {
      @apply w-[40px];
      @apply md:mr-auto;
      img {
        @apply w-full;
        @apply rounded-full;
      }
    }

    &__details {
      @apply flex items-center;
      @apply mb-2;
      @apply w-full;
      @apply whitespace-nowrap;
    }
    &__names__container {
      // @apply inline md:flex;
      @apply flex;
      @apply mr-2;
      @apply space-x-2;
      @apply w-48 sm:w-auto;
      @apply overflow-hidden;
      @apply overflow-ellipsis;
      @apply whitespace-nowrap;
      max-width: calc(80%);
    }
    &__name {
      @apply text-[14px];
      @apply max-w-[100%] md:max-w-none;
      @apply font-semibold;

      h2 {
        @apply overflow-hidden;
        @apply overflow-ellipsis;
      }
    }
    &__username {
      @apply cursor-pointer;
      @apply md:max-w-none;
      min-width: 0;

      p {
        @apply overflow-hidden;
        @apply overflow-ellipsis;
        @apply text-xs text-neutral-2;
      }

      flex-grow: 2;

      &:hover {
        p {
          @apply underline;
        }
      }
    }

    &__verified {
      @apply ml-1 inline;
      @apply self-center;
      @apply w-3;
    }
  }
  &__date {
    @apply text-xs text-neutral-2;
    @apply md:max-w-none;

    &__container {
      @apply flex;
      @apply space-x-1;
      @apply mr-5;
    }
  }

  &__text {
    @apply cursor-pointer;
    @apply md:max-w-[90%];
    @apply text-[14px];
    @apply whitespace-normal;
  }
}
