@import "../components/buttons.css";

:root {
  --bg-gradient: linear-gradient(
    182.87deg,
    rgba(255, 255, 255, 0) -30.5%,
    rgba(136, 136, 136, 0) 7.64%,
    rgba(89, 89, 89, 0.03) 20.88%,
    rgba(0, 0, 0, 0.47) 45.54%,
    rgba(0, 0, 0, 0.6) 62.7%
  );

  --bg-blur: blur(4.5px);
}
.categories {
  @apply pb-40 md:pb-20;
  &--empty {
    @apply flex flex-col items-center justify-center;
    @apply space-y-6 pb-20;

    p {
      @apply w-full md:w-96;
      @apply text-center;
      @apply text-neutral-5;
      @apply text-[14px];
      line-height: 20px;
    }
  }

  &--full {
    @apply z-10;
    @apply w-auto;
    @apply md:rounded-[40px] md:border md:border-neutral-6;
    @apply py-[30px] md:px-[30px];

    @apply flex flex-wrap justify-between;
  }
}

.category {
  &__modal {
    @apply flex justify-center;
    @apply py-20;
    @apply absolute top-0 z-40;
    @apply h-screen w-screen;
    @apply bg-neutral-1 bg-opacity-30;
    @apply overflow-auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0;
    }
    &__card {
      @apply h-[595px] w-[700px];
      @apply bg-neutral-8;
      @apply rounded-3xl;

      &__header {
        @apply flex items-center justify-between;
        @apply w-10/12;
        @apply mx-auto mt-5 pt-4;

        h1 {
          @apply font-header text-[20px] font-semibold text-primary-1;
        }
      }

      &__cancel {
        @apply flex items-center justify-center;
        @apply h-10 w-10;
        @apply rounded-full;
        @apply cursor-pointer;

        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.06);

        img {
          @apply w-1/2;
        }
      }

      &__form {
        @apply flex flex-col justify-between;
        @apply w-9/12;
        @apply mx-auto mt-16;
        @apply font-body;

        &__image {
          @apply flex items-center justify-center;
          @apply h-[78px] w-[78px];
          @apply rounded-full border border-primary-1;
          @apply cursor-pointer;
          @apply hover:bg-neutral-6;
          @apply bg-cover bg-top bg-no-repeat;

          &__wrapper {
            @apply w-[120px];
            @apply flex flex-col items-center;
          }

          &__caption {
            @apply max-w-[70px];
            @apply mt-2;
            @apply font-header text-[14px] text-primary-1;
            @apply text-center;
          }

          input[type="file"] {
            @apply absolute;
            @apply h-[1px] w-[1px];
            @apply border-0;
            @apply p-0;
            @apply overflow-hidden whitespace-nowrap;
            clip-path: inset(50%);
          }

          &:focus-within {
            outline: 1px solid theme("colors.neutral-1-disabled");
          }
        }

        &__content {
          @apply flex;
          @apply w-full;
        }
        &__text {
          @apply relative;
          @apply flex flex-grow flex-col;
          @apply w-auto;
          @apply text-neutral-4;
        }

        &__name,
        &__description {
          @apply border-2 border-neutral-6;
          @apply px-[30px];

          &:focus {
            @apply outline-none;
            box-shadow: 0px 10px 10px theme("colors.neutral-6");
          }
        }

        &__name {
          @apply h-[64px];
          @apply rounded-[100px];
        }

        &__description {
          @apply h-[220px];
          @apply mt-5 pt-5;
          @apply rounded-[25px];

          @apply resize-none;

          &__char_count {
            @apply absolute bottom-2 right-6;
            @apply text-[10px];
          }
        }

        &__buttons {
          @apply flex justify-end;
          @apply w-[80%];
          @apply mt-[43px] mb-[50px] ml-auto;
          @apply space-x-[24px];
        }
      }
    }
  }
  &__card {
    @apply relative;
    @apply flex;
    @apply mb-4;
    @apply h-60 w-full md:w-[45%] xl:w-[32%];
    @apply rounded-[22px];
    @apply bg-cover bg-center bg-no-repeat;

    a {
      @apply flex self-end;
      @apply h-[55%] w-full;
    }

    &__text {
      @apply flex flex-col justify-center self-end;
      @apply h-full w-full;
      @apply pl-6;
      @apply rounded-b-2xl;
      @apply text-neutral-8;

      background: var(--bg-gradient);
      backdrop-filter: var(--bg-blur);

      h2 {
        @apply font-header-2 text-md font-medium;
      }
      p {
        @apply text-[10px];
        @apply max-w-[90%];
        @apply overflow-hidden whitespace-nowrap;
        @apply text-ellipsis;
      }
    }

    &__dropdown {
      @apply absolute top-4 right-3;
    }
  }
}

.category__page {
  @apply h-screen w-2/3;
  @apply flex-grow;
  @apply font-body;

  &__wrapper {
    @apply flex;
    @apply h-screen w-screen;
  }

  &__dropdown__container {
    @apply relative;
  }

  &__banner {
    @apply flex flex-col;
    @apply h-[200px] w-full md:h-[270px];
    @apply bg-cover bg-center bg-no-repeat;

    &__controls {
      @apply flex items-center justify-between;
      @apply px-6 py-4 md:py-7 md:px-16;

      .back-button {
        @apply flex items-center justify-center;
        @apply h-[25px] w-[35px];
        @apply rounded-2xl;
        @apply bg-neutral-6;
        @apply cursor-pointer;
      }
    }

    &__text {
      background: var(--bg-gradient);
      backdrop-filter: var(--bg-blur);

      @apply flex flex-col justify-end;
      @apply h-full;
      @apply px-6 py-6 md:py-7 lg:px-16;

      &__wrapper {
        @apply flex flex-col justify-end self-end;
        @apply h-3/4 w-full md:h-[90%];
        @apply rounded-b-2xl;
        @apply text-neutral-8;
        @apply mt-auto;
      }

      h2 {
        @apply font-header text-[40px] font-bold;
        @apply mb-2;
      }
      p {
        @apply text-[14px] font-medium;
        @apply max-h-full max-w-[100%];
      }
    }
  }

  &__bookmarks {
    &__wrapper {
      @apply px-6 pb-80 md:px-32  xl:px-56;
      @apply h-full;
      @apply overflow-auto;

      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
