@import "../components/buttons.css";

.categories {
  @apply pt-10 md:px-4;
  &--empty {
    @apply flex flex-col items-center justify-center;
    @apply space-y-6;

    p {
      @apply w-full md:w-96;
      @apply text-center;
      @apply text-neutral-5;
      @apply text-[14px];
      line-height: 20px;
    }
  }

  &--full {
    @apply rounded-2xl border border-neutral-6;
    @apply px-6 pt-16 pb-10;

    @apply flex flex-wrap justify-between;
  }
}

.category__card {
  @apply relative;
  @apply flex;
  @apply my-4;
  @apply h-60 w-full md:w-[45%] lg:w-[31%];
  @apply rounded-2xl;
  @apply bg-cover bg-center bg-no-repeat;

  @apply cursor-pointer;

  &__text {
    @apply flex flex-col justify-center self-end;
    @apply h-[55%] w-full;
    @apply pl-6;
    @apply rounded-b-2xl;
    @apply text-neutral-8;

    background: linear-gradient(
      182.87deg,
      rgba(255, 255, 255, 0) -30.5%,
      rgba(136, 136, 136, 0) 7.64%,
      rgba(89, 89, 89, 0.03) 20.88%,
      rgba(0, 0, 0, 0.47) 45.54%,
      rgba(0, 0, 0, 0.6) 62.7%
    );
    backdrop-filter: blur(4.5px);

    h2 {
      @apply font-header text-md font-medium;
    }
    p {
      @apply text-[10px];
      @apply max-w-[90%];
      @apply overflow-hidden whitespace-nowrap;
      @apply text-ellipsis;
    }
  }
}
