@import "./bookmarks.css";

.dashboard {
  @apply flex justify-center;
  @apply h-screen;
  @apply relative;
  @apply overflow-hidden;

  &__header {
    @apply flex items-center space-x-3 pt-10;

    &__text {
      @apply font-header-2 text-md font-medium text-primary-1;

      span {
        @apply font-body text-[20px] font-normal;
      }
    }
  }
}
.main-container {
  @apply h-full w-[85%] md:w-4/5;
  @apply mb-10 md:mr-4 md:px-10 lg:px-20;
  @apply relative;
}
main {
  @apply h-full w-full;
  @apply pr-6;
  @apply font-body;
  @apply relative;
  @apply z-10;
  @apply overflow-auto;
  -ms-overflow-style: auto;
  &::-webkit-scrollbar {
    width: 5px;
    padding: 20px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    // background: ;
    border-radius: 1000px;
    background-color: transparent;
    border-bottom: 200px solid theme("colors.primary-1");
  }
  .new-category-container {
    @apply h-[110px] w-full md:h-28 lg:w-5/6;
    @apply mt-10;
    @apply bg-neutral-7;
    @apply sticky top-[0px] z-20;

    &--stuck {
      @apply h-[100px];
      @apply flex items-center justify-between;
      box-shadow: 3px 10px 4px -6px rgba(0, 0, 0, 0.04);
    }
  }

  .logo__container {
    @apply mt-4 mb-14 pl-0 md:mb-6;

    @media screen and (min-width: 770px) {
      @apply hidden;
    }
  }
}

