@import "../components/buttons.css";

.login {
  @apply flex items-start justify-center;
  @apply bg-cover md:bg-[length:100%] md:bg-bottom;
  @apply h-[85%] w-full pb-20;
  @apply overflow-auto;
  background-image: url("../../images/login.png");
  margin-top: 5px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
  }

  &__card {
    @apply border-neutral-6 bg-[white];
    @apply flex flex-col items-center justify-center text-center;
    @apply min-h-[450px] w-10/12 max-w-xs;
    @apply mx-auto mt-4 py-8 px-8 lg:px-10 lg:py-6;

    box-shadow: 1px 14px 22px 12px rgba(6, 6, 6, 0.03);
    border-radius: 20px;

    &__title {
      @apply space-y-4;
      @apply md:pt-4 lg:pt-0;
      h1 {
        @apply font-header text-[20px] font-bold;
        letter-spacing: 0px;
      }
      p {
        @apply font-body text-xs;
      }
    }

    &__animation {
      @apply w-11/12 lg:w-[80%];
      @apply mb-4;
    }
  }
}

