@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  @apply bg-neutral-7;
}
body {
  overflow: hidden;
}
#root {
  height: 100%;
  width: 100%;
}
